<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../static/css/element.css" target="_blank">
    <link rel="stylesheet" href="../static/css/style.css" target="_blank">
    <!-- import Vue before Element -->
    <script src="../static/vue/vue.js"></script>
    <!-- 组件加载 -->
    <script src="../static/vue2-sfc-loader/vue2-sfc-loader.js" type="text/javascript"></script>
    <script src="../static/js/vue-router.js" type="text/javascript"></script>
    <script src="../static/js/router.js" type="text/javascript"></script>
    <!-- import JavaScript -->
    <script src="../static/js/element.js"></script>
    <!-- import Echarts -->
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/axios/axios.min.js"></script>
    <script type="text/javascript" src="../templates/components/menu.js"></script>
</head>
<body>
<div id="app">
        <el-container style="height: 100%;height: 100%">
            <el-aside width="13%" height="100%">
                <el-menu :default-active="$route.path"
                         :router="true"
                         class="el-menu-container"
                         @open="handleOpen"
                         @close="handleClose"
                         background-color="#304156"
                         text-color="#fff"
                         active-text-color="#1890ff">
                    <div class="aside-header"></div>
                    <el-menu-item index="/">
                        <i class="el-icon-document"></i>
                        <span slot="title">容器概览</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                        <span slot="title">使用Demo</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header style="z-index: 3;height: 45px;box-shadow: 0 0 20px rgb(0 0 0 / 20%)">
                    <a class="logo-github">
                        <el-image style="width: 34px;  height: 34px"  th:src="@{../static/img/github.svg}" :fit="fit"></el-image>
                    </a>
                </el-header>
                <el-main>
                    <router-view>
                    </router-view>
                </el-main>
            </el-container>
        </el-container>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        router,
        components:{
            'x-menu':menu
        },
        data: function () {
            return {
            }
        },
        created() {
            if(this.$route.path == '/'){
                $route.path = '/home'
            }
        },
        watch:{
            $route(to,from){
                console.log(to.path);
            }
        },
        methods:{
        }
    })
</script>
<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .el-main{
        padding: 0px;
    }
    #app {
        width: 100%;
        height: 100%;
    }
</style>
</html>